// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
	font-family: 'Kumar One Outline', cursive;
	background-color: crimson;
}


h1, h2, h3, h4, h5 {
    font-family: 'Kumar One Outline', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.container {
	width: 100%;
	/* TB LR */
	margin: 0 auto;
	padding: 5px 5px 5px 5px;
}

h1 {
	font-size: 4rem;
	color: crimson;
}

h2 {
	font-size: 3rem;
	color: white;
}

h3 {
	font-size: 2rem;
}

header {
	margin: .25rem;
	height: 2.5rem;
	border-bottom: 1px solid black;
	background-color: lightgray;
	display: flex;
	justify-content: flex-end;
	
	nav{
		width: 50%;
		background-color: black;
		
		display: flex;
		justify-content: space-around;
		align-items: center;
		a {
			text-decoration: none;
			color: white;
		}
	}
}
	
.top-content {
	display: flex;
	flex-direction: column;
	.top-2-col {
		padding: 2rem;
		display: flex;
		justify-content: space-around;	
	}
		.main-img {
			padding: 1.5rem;
			border-right: 2px solid black;
		}

		.top-right {
			
			display:flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			background-color: black;
			.my-name {
				// padding: 1.5rem;
				text-align: center;
			}
			.my-title {
				 text-align: center;
			}
			button {
				height: 150%;
				width: 130%;
				background-color: red;
				color: black;
				border-radius: 1000px 0px 1000px 0px;
				text-align: center;
				:hover {
					background-color: gray;
					
				}
			};
		}
		
}

.bottom-content {
	border 1.5px solid black;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	// align-items: center;
		.skills {
			border: 1px solid black;
		}
		h3 {
			border-bottom: 2 px solid black;
		}
}


